.footer
{
background-color: #000;
width: 980px;
height: 80px;
margin-bottom: 150px;
color: #fff;
position: absolute;
-moz-opacity:0.2;
opacity: 0.2;
filter:alpha(opacity=20);
}

.footer h4
{
margin: 0;
padding: 0;
padding-top:5px;
padding-bottom: 0px;
text-align:center;
}

.footer p
{
font-size: 10px;
margin: 0;
padding: 0;
margin-left: 920px;
margin-bottom: 50px;
}

.footer a
{
text-decoration: none;
color: #fff;
}
