@import url("style.css");
@import url("/blog/menu.css");
@import url("/blog/footer.css");
@font-face 
{
font-family: "Au long cours";
src: url('/blog/fonte/JandaElegantHandwriting.ttf');
}

html
{
background-image: url('/blog/images/bg.png');
}

body html
{
width: 980px;
height: 100%;
margin: 0;
font-family: "Au long cours";
position: relative;
}

body
{
min-height: 100%;
width: 980px;
padding: 0 10px;
margin: 0 auto;
font-family: "Au long cours";
}


/*Fin menu*/

/*logo*/
.logo img
{
margin-top: 50px;
margin-bottom: 20px;
margin-left: 20px;
}

.logo h2 
{
margin: 0;
margin-left: 130px;
margin-top: -75px;
margin-bottom: 50px;
color: #151412;
}

.logo a
{
color: #151412;
text-decoration: none;
font-family: "Au long cours";
}

.logo a:hover
{
font-family: "Au long cours";
color: #1F1F1F;
text-decoration: none;
}
.logo h5
{
margin: 0;
margin-left: 130px;
margin-top: -70px;
margin-bottom: 50px;
color: #C65145;
}
/*fin logo*/

/*Début une Portfolio*/
.en_tete_une
{
margin: 0;
padding: 0;
background-image: url("/blog/images/slider-bg.png");
width: 980px;
}

.en_tete_une h4
{
margin: 0;
padding: 15px;
color: #151412;
}

.image_colonne
{
width: 980px;
background: url('/blog/portfolio/images/corps.png') center repeat-y;
position: relative;
z-index: -1;
/*background-color: #fff;*/
}
/*Fin une portfolio*/


/*a{
	color: #27D;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
}
p, li {
	line-height: 1.8em;
}
h1, h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 10px 0;
	letter-spacing:-1px;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}
h2 {
	padding-top: 10px;
	font-size:2em;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
/*div#page {
	width: 980px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	border-color: #ddd;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}*/

/*div#container {
	padding: 20px;
}*/

/*div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
div#footer {
	clear: both;
	color: #777;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}*/
